<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073010332494-htgc2ffpsajrh9260q3ue9uqt0ibuhka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073010332494-htgc2ffpsajrh9260q3ue9uqt0ibuhka</string>
	<key>API_KEY</key>
	<string>AIzaSyDKFMajVveowVoMA2OTN-d5SheuQ7dWepk</string>
	<key>GCM_SENDER_ID</key>
	<string>1073010332494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sourav.firebase.NotesCRUD</string>
	<key>PROJECT_ID</key>
	<string>notescrud-8981a</string>
	<key>STORAGE_BUCKET</key>
	<string>notescrud-8981a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073010332494:ios:c37013675da3b7d8ce041f</string>
</dict>
</plist>